@charset "UTF-8";
/*Font Futura Hv BT*/
.nav-link, .btn-slider, .button-master, .lp-carousel__btn, #lp-tipos-vallas a, .woocommerce-button {
  font-family: "futuraheavy" !important;
}

/*Font Futura Md BT*/
.title-slider, .p-title h4, .lp-tipos__title, .p-title h3, .p-title div, .lp-home-a__list a, .lp-carousel__title, .widget-title, .lp-link, .lp-card-vallas__title, .wcqb_button, .single_add_to_cart_button, .price dbi, .product_title, .u-column1 h2, .u-column2 h2, .woocommerce-MyAccount-navigation a, .sub-heading-section h1, .woocommerce-Address h3, .woocommerce-Address .edit, .woocommerce-MyAccount-content h3, .woocommerce-products-header__title, .actions button, .cart_totals h2, .checkout-button, .lp-proyects__title, .lp-proyects__client, .lp-proyects__date, .lp-proyects__title-related {
  font-family: "futuramedium" !important;
}

/*Font Lulo Clean*/
.subtitle-slider, .l-title h3, .lp-home-a__text-list {
  font-family: "lulocleanw01-oneboldregular" !important;
}

/*Font Futura Bk BT*/
p, input, textarea, .top-footer a, #lp-contact ul a, #lp-beneficios ul span, .lp-product__title, .lp-product__sku, .lp-cantidad, .variations select, .woocommerce-form__label-for-checkbox span, .woocommerce-message, .woocommerce-Message, .woocommerce-Address address, .product-name, .product-price, .product-quantity, .product-subtotal, .item-proyects__title {
  font-family: "futurabook" !important;
}

/*Párrafos*/
.p-white p {
  color: #ffffff;
}

/*Buttons*/
.button-master {
  line-height: 2.7em !important;
}

.header-title {
  color: #FFF212;
  letter-spacing: 12px;
}
.header-title .title-divider {
  border: 1px solid #FFF212;
  width: 100px;
  margin: 0 auto;
}

.title-section {
  color: #202020;
  letter-spacing: 12px;
  font-family: "futuramedium";
  font-weight: bold;
}

.bottom-header .box-buttons-wc {
  display: none;
}
.bottom-header .img-brand {
  max-height: 110px !important;
}
.bottom-header .nav-link {
  text-transform: uppercase;
  border-right: 1px solid #FFF212;
  transition: all 0.3s ease-in-out;
}
.bottom-header .nav-link i {
  font-size: 1.3em;
}
.bottom-header .nav {
  align-items: center;
}
.bottom-header .menu-item-35 .nav-link {
  border: none;
}

.static-header {
  z-index: 2;
  position: relative;
}

.home .static-header {
  position: absolute !important;
  width: 100%;
  margin: auto;
}

.sticky-header {
  z-index: 3 !important;
}
.sticky-header .img-brand {
  scale: 3;
}

.top-footer .widget-title {
  letter-spacing: 4px;
  font-size: 0.9em !important;
  font-weight: 500 !important;
  margin-bottom: 2em;
}
.top-footer ul {
  list-style: none;
  padding: 0;
}
.top-footer ul li {
  margin-bottom: 1.4em;
}
.top-footer ul a {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.top-footer ul a:hover {
  color: #FFF212;
}
.top-footer ul a i {
  margin-right: 0.5em;
}

.bottom-footer p {
  color: #E5E5E5;
}
.bottom-footer p a {
  color: #FFF212;
  transition: all 0.3s ease-in-out;
}
.bottom-footer p a:hover {
  color: #E5E5E5;
}

.home .static-header {
  background-color: transparent !important;
  z-index: 2;
  position: relative;
}

.subtitle-slider {
  -webkit-text-stroke: 4px #ffffff;
  color: transparent !important;
}

.slider-home {
  position: relative;
}

.lp-home-a .l-title h3 {
  -webkit-text-stroke: 2px #ffffff;
  color: transparent !important;
}
.lp-home-a__img {
  right: -30px;
}
.lp-home-a__img img {
  width: 90%;
}
.lp-home-a .elementor-element-00df8b8 {
  width: 35% !important;
}
.lp-home-a__text-list {
  -webkit-text-stroke: 1.5px #202020;
  color: transparent !important;
  position: absolute;
  left: -45px;
  top: 95px;
  transform: rotate(-90deg);
  font-size: 2.2em;
}
.lp-home-a__list {
  list-style: none;
  padding: 0;
}
.lp-home-a__list li {
  padding: 0.5em 0;
}
.lp-home-a__list span {
  width: 15px;
  height: 15px;
  border: 2px solid #202020;
  display: block;
  transform: rotate(45deg);
  margin-right: 0.7em;
  transition: all 0.3s ease-in-out;
}
.lp-home-a__list a {
  display: inline-flex;
  align-items: center;
  color: #202020;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: 1.2em;
}
.lp-home-a__list a:hover {
  color: #FFF212;
}
.lp-home-a__list a:hover span {
  border-color: #FFF212;
}

/*Carousel products*/
.lp-carousel__item {
  padding: 0.5em 2em;
}
.lp-carousel__card {
  height: 550px;
  overflow: hidden;
  border-radius: 60px 4px 60px 4px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.lp-carousel__card:hover .lp-carousel__body-card {
  left: 0;
}
.lp-carousel__card:hover .lp-carousel__info {
  bottom: 120px;
}
.lp-carousel__img {
  height: 550px !important;
  object-fit: cover;
  border-radius: 60px 4px 60px 4px !important;
  width: 100%;
}
.lp-carousel__body-card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.74);
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  left: -400px;
}
.lp-carousel__info {
  position: absolute;
  bottom: -220px;
  transform: rotate(-90deg);
  left: -40px;
  width: 300px;
  transition: all 0.3s ease-in-out;
}
.lp-carousel__title {
  text-transform: uppercase;
  color: #FFF212;
  font-size: 1.5em;
  letter-spacing: 5px;
  margin-bottom: 0.4em;
}
.lp-carousel__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFF212;
}
.lp-carousel__btn {
  margin-top: 2.5em;
  color: #ffffff;
  font-size: 0.85em;
  letter-spacing: 3px;
}
.lp-carousel .slick-next {
  position: absolute;
  right: -50px;
  top: 47%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #202020;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: #202020;
}
.lp-carousel .slick-next:hover {
  background-color: #202020;
  color: #ffffff;
}
.lp-carousel .slick-prev {
  position: absolute;
  left: -50px;
  top: 47%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #202020;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: #202020;
}
.lp-carousel .slick-prev:hover {
  background-color: #202020;
  color: #ffffff;
}

/*Carousel Proyects*/
.lp-carousel-proyects__img {
  width: 100%;
  height: 500px !important;
  object-fit: cover;
}
.lp-carousel-proyects .slick-prev {
  position: absolute;
  bottom: -75px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FFF212;
  color: #FFF212;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.lp-carousel-proyects .slick-prev:hover {
  background-color: #FFF212;
  color: #1E1E1E;
}
.lp-carousel-proyects .slick-next {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -75px;
  border: 2px solid #FFF212;
  color: #FFF212;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.lp-carousel-proyects .slick-next:hover {
  background-color: #FFF212;
  color: #1E1E1E;
}
.lp-carousel-proyects .slick-dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: -90px;
}
.lp-carousel-proyects .slick-dots li {
  margin: 0 0.5em;
}
.lp-carousel-proyects .slick-dots button {
  width: 14px;
  height: 14px;
  color: transparent;
  border-radius: 50%;
  padding: 0;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.lp-carousel-proyects .slick-dots::marker {
  font-size: 0;
}
.lp-carousel-proyects .slick-dots .slick-active button {
  background-color: #FFF212;
  border: 2px solid #FFF212;
}

/*Contacto*/
.lp-contact__enc .elementor-heading-title {
  background-color: #202020;
  display: inline;
  padding: 0.5em 1em;
  border-radius: 0 30px 0 0;
}
.lp-contact .form-group {
  margin-bottom: 0.5em;
}
.lp-contact .form-control {
  height: 50px;
  border: 2px solid #202020;
  color: #202020 !important;
  border-radius: 20px;
}
.lp-contact .form-control::placeholder {
  color: #202020;
}
.lp-contact textarea {
  height: 150px !important;
}
.lp-contact .politica {
  display: flex;
  justify-content: end;
  align-items: center;
}
.lp-contact .politica p {
  color: #202020;
  font-size: 0.9em;
  margin: 0;
}
.lp-contact .politica .form-check {
  margin-right: 0.5em;
}
.lp-contact .button {
  display: flex;
  justify-content: end;
}
.lp-contact .button .ajax-loader {
  position: absolute;
}
.lp-contact .img-contact {
  bottom: -33px;
}

.lp-link {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 0.9em;
  transition: all 0.3s ease-in-out;
}
.lp-link:hover {
  color: #FFF212;
}

.img-nosotros {
  position: absolute !important;
  left: -200px;
  z-index: 3;
  top: -100px;
}
.img-nosotros img {
  max-width: max-content !important;
  width: 1000px !important;
}

#lp-contact ul {
  list-style: none;
  padding: 0;
}
#lp-contact ul li {
  margin-bottom: 1.5em;
}
#lp-contact ul a {
  color: #ffffff;
}
#lp-contact ul i {
  margin-right: 0.3em;
}
#lp-contact .form-group {
  margin-bottom: 0.5em;
}
#lp-contact .form-control {
  height: 50px;
  border: 2px solid #ffffff;
  color: #ffffff !important;
  border-radius: 20px;
  background-color: transparent;
}
#lp-contact .form-control::placeholder {
  color: #ffffff;
}
#lp-contact textarea {
  height: 150px !important;
}
#lp-contact .politica {
  display: flex;
  justify-content: end;
  align-items: center;
}
#lp-contact .politica p {
  color: #ffffff;
  font-size: 0.9em;
  margin: 0;
}
#lp-contact .politica p a {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
#lp-contact .politica p a:hover {
  color: #FFF212;
}
#lp-contact .politica .form-check {
  margin-right: 0.5em;
}
#lp-contact .button {
  display: flex;
  justify-content: end;
}
#lp-contact .button .ajax-loader {
  position: absolute;
}

#lp-contact-valla .form-group {
  margin-bottom: 0.5em;
}
#lp-contact-valla .form-control {
  height: 50px;
  border: 2px solid #ffffff;
  color: #ffffff !important;
  border-radius: 20px;
  background-color: transparent;
}
#lp-contact-valla .form-control::placeholder {
  color: #ffffff;
}
#lp-contact-valla textarea {
  height: 150px !important;
}
#lp-contact-valla .politica {
  display: flex;
  justify-content: end;
  align-items: center;
}
#lp-contact-valla .politica p {
  color: #ffffff;
  font-size: 0.9em;
  margin: 0;
}
#lp-contact-valla .politica p a {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
#lp-contact-valla .politica p a:hover {
  color: #FFF212;
}
#lp-contact-valla .politica .form-check {
  margin-right: 0.5em;
}
#lp-contact-valla .button {
  display: flex;
  justify-content: end;
}
#lp-contact-valla .button .ajax-loader {
  position: absolute;
}

.lp-card-vallas {
  border-radius: 60px 0 60px 0;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
}
.lp-card-vallas__cont-img {
  background-color: #fcfcfc;
  height: 240px;
  position: relative;
  border-radius: 60px 0 0 0;
}
.lp-card-vallas__cont-img img {
  height: 255px !important;
  bottom: 0;
  position: absolute;
  max-width: initial !important;
  width: auto;
  left: -10px;
}
.lp-card-vallas__content-01 {
  background-color: #202020;
  position: relative;
  padding: 2em 2em 2em 3em;
  height: 280px;
  border-radius: 0 0 60px 0;
}
.lp-card-vallas__content-01 .lp-card-vallas__line {
  position: absolute;
  width: 2px;
  height: 80%;
  background-color: #FFF212;
  top: 10%;
  left: 20px;
}
.lp-card-vallas__content-01 .lp-card-vallas__title {
  color: #FFF212;
  line-height: 1em;
  margin-top: 0.5em;
  font-size: 1.4em;
  margin-bottom: 1em;
}
.lp-card-vallas__content-01 .lp-card-vallas__desc {
  color: #ffffff;
}
.lp-card-vallas__content-02 {
  background-color: #FFF212;
  position: relative;
  padding: 2em 2em 2em 3em;
  height: 280px;
  border-radius: 0 0 60px 0;
}
.lp-card-vallas__content-02 .lp-card-vallas__line {
  position: absolute;
  width: 2px;
  height: 80%;
  background-color: #202020;
  top: 10%;
  left: 20px;
}
.lp-card-vallas__content-02 .lp-card-vallas__title {
  color: #202020;
  line-height: 1em;
  margin-top: 0.5em;
  font-size: 1.4em;
  margin-bottom: 1em;
}
.lp-card-vallas__content-02 .lp-card-vallas__desc {
  color: #202020;
}

#lp-tipos-vallas .elementor-tab-content, #lp-tipos-vallas .elementor-tab-title, #lp-tipos-vallas .elementor-tab-title::before, #lp-tipos-vallas .elementor-tab-title::after, #lp-tipos-vallas .elementor-tabs-content-wrapper, #lp-tipos-vallas .elementor-tab-desktop-title {
  border-width: 0;
  border: none;
}
#lp-tipos-vallas .elementor-tabs-wrapper {
  display: flex;
  justify-content: center;
}
#lp-tipos-vallas a {
  text-transform: uppercase;
}
#lp-tipos-vallas .elementor-tab-desktop-title {
  padding: 20px 50px;
}

.lp-tipos__cont {
  background-color: #fcfcfc;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 60px 0 60px 0;
  padding: 7em 3em 2em 5em !important;
  height: 450px;
}
.lp-tipos__title {
  font-size: 1.3em;
  color: #202020;
  margin-bottom: 2em;
}
.lp-tipos__desc {
  color: #202020;
}
.lp-tipos__car {
  height: 450px;
  padding: 0 7em 0 2em !important;
  display: grid !important;
  align-content: end;
}
.lp-tipos .slick-next {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #202020;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: #202020;
  z-index: 1;
}
.lp-tipos .slick-next:hover {
  background-color: #202020;
  color: #ffffff;
}
.lp-tipos .slick-prev {
  position: absolute;
  left: -30px;
  top: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #202020;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: #202020;
  z-index: 1;
}
.lp-tipos .slick-prev:hover {
  background-color: #202020;
  color: #ffffff;
}

#lp-preguntas .s-color {
  color: #FFF212;
}
#lp-preguntas .elementor-toggle {
  background-color: #FFF212;
  padding: 2em 3em;
  border-radius: 60px 0 60px 0;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
}
#lp-preguntas .elementor-toggle .elementor-tab-title {
  border-bottom: 0px;
}
#lp-preguntas .elementor-toggle .elementor-tab-title .elementor-toggle-title {
  font-family: Futura Md BT !important;
  letter-spacing: 2px;
}
#lp-preguntas .elementor-toggle .elementor-tab-title i {
  font-size: 0.85em;
}
#lp-preguntas .elementor-toggle p {
  color: #202020;
  padding-left: 1.3em;
}
#lp-preguntas .elementor-toggle .elementor-tab-content {
  border: none;
}

#lp-clientes .elementor-image-carousel {
  display: flex;
  align-items: center;
}
#lp-clientes .s-color {
  color: #FFF212;
}

#lp-galeria img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 60px 0 60px 0;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
}
#lp-galeria .gallery-icon {
  padding: 2em;
}
#lp-galeria a {
  position: relative;
  display: block;
}
#lp-galeria a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 242, 18, 0.78);
  width: 100%;
  height: 100%;
  border-radius: 60px 0 60px 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#lp-galeria a:hover::before {
  opacity: 1;
}
#lp-galeria a:hover i {
  opacity: 1;
}
#lp-galeria i {
  position: absolute;
  top: 46%;
  font-size: 2em;
  left: 0;
  right: 0;
  color: #202020;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.lp-product {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 60px 0 60px 0;
  height: 450px;
  padding: 1em;
  text-align: center;
  background-color: #ffffff;
}
.lp-product img {
  height: 230px;
  width: auto;
}
.lp-product__title {
  margin-top: 1em !important;
  color: #202020;
  font-weight: 300;
  padding: 0 !important;
}
.lp-product__sku {
  color: #202020;
  font-size: 1em;
}
.lp-product__btn {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.lp-product__btn .yith-wcwl-add-to-wishlist {
  margin-top: 0;
  padding: 0 0.5em;
}
.lp-product__btn i {
  color: #979797;
  transition: all 0.3s ease-in-out;
}
.lp-product__btn i:hover {
  color: #202020;
}
.lp-product__btn .feedback i {
  color: #202020;
}
.lp-product__cart {
  padding: 0 0.5em;
}
.lp-product__details {
  margin-top: 1em;
}

/*Pagination*/
.woocommerce-pagination {
  margin-bottom: 4em;
}
.woocommerce-pagination li {
  border: 0px !important;
}
.woocommerce-pagination li .page-numbers {
  color: #202020;
  transition: all 0.3s ease-in-out;
}
.woocommerce-pagination li .page-numbers:hover {
  color: #FFF212 !important;
  background-color: #ffffff !important;
}
.woocommerce-pagination li .page-numbers.current {
  color: #FFF212 !important;
  background-color: #ffffff !important;
}
.woocommerce-pagination li .next, .woocommerce-pagination li .prev {
  border: 2px solid #202020 !important;
  border-radius: 50%;
}
.woocommerce-pagination li .next:hover, .woocommerce-pagination li .prev:hover {
  border-color: #FFF212 !important;
}

/*Imagen fondo*/
.lp-img-archive {
  position: absolute;
  bottom: 40px;
  right: -120px;
  height: 94% !important;
  width: auto;
  z-index: -1;
}

#container-page {
  position: relative;
}

.archive .woocommerce-result-count, .archive .woocommerce-ordering {
  display: none;
}
.archive .woocommerce-products-header__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 15px;
  color: #202020;
  position: relative;
  margin-bottom: 2em;
}
.archive .woocommerce-products-header__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 2px;
  background-color: #FFF212;
  left: 0;
  right: 0;
  margin: auto;
}

.lp-information-product {
  background-color: #202020;
  padding: 2em 1em 2em 3em;
  border-radius: 0 0 0 60px;
  position: relative;
}
.lp-information-product::before {
  content: "";
  background-color: #202020;
  position: absolute;
  height: 100%;
  width: 500px;
  top: 0;
  right: -400px;
  z-index: -1;
}
.lp-information-product .lp-btn-header {
  display: flex;
  justify-content: end;
  margin-bottom: 2em;
}
.lp-information-product .lp-btn-header i {
  font-size: 1.3em;
  color: #FFF212;
}
.lp-information-product .lp-btn-header .yith-wcwl-add-to-wishlist {
  margin-top: 0;
  margin-right: 0.8em;
}
.lp-information-product .product_title {
  color: #FFF212;
  letter-spacing: 3px;
  line-height: 1.2em;
  font-size: 1.7em;
  position: relative;
  margin-bottom: 1em;
}
.lp-information-product .product_title::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #FFF212;
}
.lp-information-product .price bdi, .lp-information-product .price .woocommerce-Price-currencySymbol {
  color: #ffffff;
}
.lp-information-product .woocommerce-product-details__short-description {
  margin-bottom: 2em;
}
.lp-information-product .woocommerce-product-details__short-description p {
  color: #ffffff;
}
.lp-information-product .variations {
  margin-bottom: 0.3em !important;
}
.lp-information-product .variations label {
  color: #FFF212;
  font-weight: 300 !important;
}
.lp-information-product .variations select {
  background-color: transparent;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding-left: 0.5em;
  padding-bottom: 0.1em;
}
.lp-information-product .quantity {
  width: 100%;
  margin-bottom: 2em !important;
}
.lp-information-product .quantity input {
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
}
.lp-information-product .quantity .lp-cantidad {
  color: #FFF212;
  font-size: 1rem;
  margin-right: 5.7em;
}
.lp-information-product .single_add_to_cart_button {
  border: 1px solid #ffffff !important;
  border-radius: 20px !important;
  background-color: transparent !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  margin-right: 1em !important;
}
.lp-information-product .single_add_to_cart_button:hover {
  background-color: #ffffff !important;
  color: #202020 !important;
}
.lp-information-product .wcqb_button {
  background-color: #FFF212;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #FFF212;
  text-transform: uppercase;
  padding: 0 1em;
  transition: all 0.3s ease-in-out;
}
.lp-information-product .wcqb_button:hover {
  background-color: transparent;
  color: #FFF212;
}
.lp-information-product .posted_in {
  display: none;
}
.lp-information-product .sku_wrapper {
  color: #FFF212;
}
.lp-information-product .sku_wrapper .sku {
  color: #ffffff;
}

/*Productos relacionados*/
.related {
  margin: auto;
}
.related h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 12px;
  color: #202020;
  margin-bottom: 2em;
  margin-top: 3em;
}

.single-product .lp-img-archive {
  bottom: -100px;
  height: 1000px !important;
  z-index: -2;
}
.single-product .widget_product_categories {
  display: none;
}
.single-product .lp-filter-bar {
  display: none !important;
}

.single-product .product .images {
  margin-top: 3em;
}
.single-product .product .images li {
  margin-bottom: 1em !important;
}
.single-product .product .images li img {
  border-radius: 30px 0 30px 0;
}
.single-product .product .images .zoom {
  margin-right: 2em;
}
.single-product .product .images .zoom img {
  height: 426px;
  object-fit: cover;
  height: 480px;
  border-radius: 60px 0 60px 0;
}
.single-product .product .images .zoom .wpgis-popup {
  width: 390px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  border-radius: 60px 0 60px 0;
}
.single-product .product .images .zoom .wpgis-popup:hover {
  background: rgba(255, 242, 18, 0.78);
}
.single-product .product .images .zoom .wpgis-popup::before {
  content: "";
  font-size: 40px;
  color: #000;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.single-product .product .images .zoom .wpgis-popup:hover::before {
  opacity: 1;
}

.page-id-3 .static-header, .page-id-790 .static-header {
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.lp-politicas-section {
  height: 750px;
  overflow-y: scroll;
}
.lp-politicas-section::-webkit-scrollbar {
  width: 10px;
  background-color: #E5E5E5;
}
.lp-politicas-section::-webkit-scrollbar-thumb {
  background-color: #202020;
}
.lp-politicas-section p {
  color: #202020;
}

.page-id-692 .shop_table {
  margin-bottom: 4em !important;
  border-radius: 60px 0 60px 0 !important;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  border: none !important;
  overflow: hidden;
}
.page-id-692 .shop_table .button {
  background-color: #FFF212 !important;
  height: 40px !important;
  line-height: 1.8em !important;
  border-radius: 20px !important;
  text-transform: uppercase;
  color: #202020 !important;
  font-weight: 300 !important;
  transition: all 0.3s ease-in-out;
}
.page-id-692 .shop_table .button:hover {
  background-color: #202020 !important;
  color: #FFF212 !important;
}
.page-id-692 .shop_table .nobr {
  text-transform: uppercase;
  color: #202020;
  font-weight: 700;
}
.page-id-692 .shop_table .product-name a {
  color: #202020;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
}
.page-id-692 .shop_table .product-name a:hover {
  color: #FFF212;
}

.lp-subheader-shop {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lp-subheader-shop .lp-search-form {
  position: relative;
  max-width: 480px;
  margin: 2em auto;
}
.lp-subheader-shop .lp-search-form button {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  border: none;
  background: transparent;
  padding: 0 1em;
}
.lp-subheader-shop .lp-search-form button:hover {
  color: #FFF212;
}
.lp-subheader-shop .lp-search-form .form-control {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid white;
  padding: 0.5em 1em;
  color: white;
  min-height: 50px;
}
.lp-subheader-shop .lp-search-form .form-control::placeholder {
  color: white;
}
.lp-subheader-shop .lp-search-form .form-control:focus {
  background-color: rgba(0, 0, 0, 0.6);
}
.lp-subheader-shop p {
  color: white;
}

.lp-breadcrumbs {
  background: #E5E5E5;
  padding: 1em;
  font-size: 0.9em;
  font-family: "futurabook";
}
.lp-breadcrumbs span {
  font-family: "futurabook";
  color: black;
}
.lp-breadcrumbs span.current-item {
  opacity: 0.6;
}
.lp-breadcrumbs a {
  color: black;
}
.lp-breadcrumbs a:hover {
  opacity: 0.6;
}

.lp-filter-bar__buttons .nav-link {
  color: #727376;
}
.lp-filter-bar__buttons .nav-link:hover {
  color: black;
}

.widget_product_categories .widget-title {
  display: none;
}
.widget_product_categories .product-categories {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.widget_product_categories .product-categories .cat-item {
  margin-right: 1.5em;
  position: relative;
}
.widget_product_categories .product-categories .cat-item a {
  color: #727376;
  font-family: "futuraheavy";
  text-transform: uppercase;
  font-size: 0.8em;
}
.widget_product_categories .product-categories .cat-item a:hover {
  color: black;
}
.widget_product_categories .product-categories .cat-item .children {
  display: none;
  position: absolute;
  list-style: none;
  padding: 1em;
  top: 2em;
  left: 0;
  border: 1px solid #d7d7d7;
  font-size: 0.9em;
  min-width: 200px;
  background-color: white;
  z-index: 1;
}
.widget_product_categories .product-categories .cat-item .children .cat-item {
  margin: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 0.5em;
}
.widget_product_categories .product-categories .cat-item .children li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.widget_product_categories .product-categories .cat-item.cat-parent a i {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d7d7d7;
}
.widget_product_categories .product-categories .cat-item.cat-parent a i::before {
  transform: translateY(-2px);
}

.sub-heading-section {
  margin-bottom: 0 !important;
  background-attachment: initial !important;
  height: 350px;
  padding-top: 12em !important;
}
.sub-heading-section h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2.8em;
  position: relative;
}
.sub-heading-section h1::before {
  content: "";
  width: 400px;
  height: 2px;
  background-color: #FFF212;
  left: 0;
  bottom: -10px;
  position: absolute;
}

.woocommerce-account .static-header {
  position: absolute;
  width: 100%;
  background-color: transparent;
}
.woocommerce-account #content {
  background-color: #202020;
}
.woocommerce-account #customer_login {
  margin-top: 4em;
  margin-bottom: 3em;
}
.woocommerce-account .u-column1, .woocommerce-account .u-column2 {
  max-width: 50%;
}
.woocommerce-account .u-column1 h2, .woocommerce-account .u-column2 h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #FFF212;
  letter-spacing: 4px;
}
.woocommerce-account .u-column1 .woocommerce-form, .woocommerce-account .u-column2 .woocommerce-form {
  border-radius: 60px 0 60px 0;
  border: none;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 2em;
}
.woocommerce-account .u-column1 p, .woocommerce-account .u-column2 p {
  color: #202020;
}
.woocommerce-account .u-column1 .woocommerce-Input, .woocommerce-account .u-column2 .woocommerce-Input {
  background-color: transparent;
  height: 40px;
  border: 1px solid #202020;
  padding-left: 0.8em;
  color: #202020;
  border-radius: 10px;
}
.woocommerce-account .u-column1 label, .woocommerce-account .u-column1 .password-input, .woocommerce-account .u-column2 label, .woocommerce-account .u-column2 .password-input {
  width: 100%;
}
.woocommerce-account .u-column1 .woocommerce-form__label-for-checkbox span, .woocommerce-account .u-column2 .woocommerce-form__label-for-checkbox span {
  color: #202020;
  font-size: 1em;
}
.woocommerce-account .u-column1 .woocommerce-button, .woocommerce-account .u-column2 .woocommerce-button {
  background-color: #FFF212;
  border-radius: 20px;
  color: #202020;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}
.woocommerce-account .u-column1 .woocommerce-button:hover, .woocommerce-account .u-column2 .woocommerce-button:hover {
  background-color: #202020;
  color: #FFF212;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  padding-top: 2em;
  padding-bottom: 8em;
  overflow: hidden;
}
.woocommerce-account .woocommerce-MyAccount-navigation .img-nav-account-bg {
  position: absolute;
  bottom: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding-left: 0;
  padding-right: 2em;
}
.woocommerce-account .woocommerce-MyAccount-navigation li {
  border-bottom: 2px solid #FFF212;
  padding: 1em 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation .is-active a {
  color: #FFF212;
}
.woocommerce-account .woocommerce-MyAccount-navigation .is-active a::before {
  border-color: #FFF212;
}
.woocommerce-account .woocommerce-MyAccount-navigation a {
  color: #ffffff;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 3px;
  font-weight: 600;
}
.woocommerce-account .woocommerce-MyAccount-navigation a:hover {
  color: #FFF212;
}
.woocommerce-account .woocommerce-MyAccount-navigation a::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: -25px;
  border: 2px solid #ffffff;
  top: 2px;
  transform: rotate(50deg);
  transition: all 0.3s ease-in-out;
}
.woocommerce-account .woocommerce-MyAccount-navigation a:hover::before {
  border-color: #FFF212;
}
.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--customer-logout {
  border: none;
}
.woocommerce-account .woocommerce-MyAccount-content {
  background-color: #ffffff;
  min-height: 600px;
  position: relative;
  padding-top: 3em;
  padding-left: 2em;
  padding-bottom: 3em;
}
.woocommerce-account .woocommerce-MyAccount-content::before {
  content: "";
  position: absolute;
  right: -500px;
  height: 100%;
  width: 500px;
  background-color: #ffffff;
  top: 0;
}
.woocommerce-account .woocommerce-MyAccount-content .img-account-bg {
  position: absolute;
  right: -20%;
  bottom: 0;
  height: 500px;
}
.woocommerce-account .woocommerce-MyAccount-content p {
  color: #202020;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-message, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-Message {
  background-color: #202020;
  border-radius: 10px;
  border-top-color: #FFF212;
  color: #ffffff;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-message::before, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-Message::before {
  color: #FFF212;
}
.woocommerce-account .woocommerce-MyAccount-content .button {
  background-color: #FFF212;
  border-radius: 20px;
  color: #202020;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}
.woocommerce-account .woocommerce-MyAccount-content .button:hover {
  background-color: #202020;
  color: #FFF212;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 60px 0 60px 0;
  padding: 2em;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address h3 {
  color: #202020;
  font-size: 1em;
  text-transform: uppercase;
  display: block;
  width: 100%;
  letter-spacing: 1px;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address .edit {
  float: left;
  color: #202020;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address .edit:hover {
  color: #FFF212;
}
.woocommerce-account .woocommerce-MyAccount-content h3 {
  color: #202020;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-input-wrapper {
  width: 100% !important;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-input-wrapper input {
  height: 40px;
  border-radius: 7px;
  border: 1px solid #202020;
  padding-left: 0.5em;
}
.woocommerce-account .woocommerce-MyAccount-content .select2-selection {
  height: 40px;
}
.woocommerce-account .woocommerce-MyAccount-content .select2-selection .select2-selection__rendered {
  font-size: 0.65em;
  line-height: 38px;
}
.woocommerce-account .woocommerce-MyAccount-content #billing_email, .woocommerce-account .woocommerce-MyAccount-content #shipping_postcode {
  margin-bottom: 2em;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Input {
  height: 40px;
  border-radius: 7px;
  border: 1px solid #202020;
  padding-left: 0.5em;
}
.woocommerce-account .woocommerce-MyAccount-content .password-input {
  width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-content #password_2 {
  margin-bottom: 2em;
}

.woocommerce-cart .static-header {
  position: absolute;
  width: 100%;
  background-color: transparent;
}
.woocommerce-cart .woocommerce-cart-form .shop_table {
  border: 1px solid #202020;
  padding: 1em 2em;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .product-name, .woocommerce-cart .woocommerce-cart-form .shop_table .product-price, .woocommerce-cart .woocommerce-cart-form .shop_table .product-quantity, .woocommerce-cart .woocommerce-cart-form .shop_table .product-subtotal {
  color: #202020;
}
.woocommerce-cart .woocommerce-cart-form .shop_table td {
  border-top: 1px solid #202020;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .woocommerce-Price-amount {
  font-family: "futurabook" !important;
  color: #202020;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
  font-family: "futurabook" !important;
  color: #202020;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .lp-cantidad {
  display: none;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .product-name a {
  color: #202020;
  transition: all 0.3s ease-in-out;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .product-name a:hover {
  color: #FFF212;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .actions {
  padding-top: 1em;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .actions .coupon #coupon_code {
  width: 50% !important;
  border: 1px solid #202020;
  border-radius: 10px;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .actions .coupon button {
  background-color: #727376 !important;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.85em;
  letter-spacing: 2px;
  height: 38px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .actions .coupon button:hover {
  background-color: #202020 !important;
  color: #ffffff !important;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .actions button {
  background-color: #202020 !important;
  color: #ffffff;
  text-transform: uppercase;
  height: 38px !important;
  border-radius: 10px !important;
  font-size: 0.85em;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .actions button:hover {
  background-color: #FFF212 !important;
  color: #202020 !important;
}
.woocommerce-cart .cart_totals h2 {
  color: #202020;
}
.woocommerce-cart .cart_totals .shop_table {
  border: 1px solid #202020;
  padding: 1em 2em;
  background-color: #f5f5f5;
  padding: 1em !important;
}
.woocommerce-cart .cart_totals .shop_table .product-name, .woocommerce-cart .cart_totals .shop_table .product-price, .woocommerce-cart .cart_totals .shop_table .product-quantity, .woocommerce-cart .cart_totals .shop_table .product-subtotal {
  color: #202020;
}
.woocommerce-cart .cart_totals .shop_table .order-total th, .woocommerce-cart .cart_totals .shop_table .order-total td {
  border-top: 1px solid #202020 !important;
}
.woocommerce-cart .cart_totals .shop_table .cart-subtotal, .woocommerce-cart .cart_totals .shop_table .woocommerce-Price-amount, .woocommerce-cart .cart_totals .shop_table .woocommerce-Price-currencySymbol, .woocommerce-cart .cart_totals .shop_table .order-total {
  font-family: "futurabook" !important;
  color: #202020;
}
.woocommerce-cart .cart_totals .checkout-button {
  background-color: #FFF212 !important;
  height: 50px;
  padding: 1em !important;
  text-transform: uppercase;
  font-size: 1em !important;
  letter-spacing: 3px;
  color: #202020 !important;
  border-radius: 30px !important;
  transition: all 0.3s ease-in-out;
}
.woocommerce-cart .cart_totals .checkout-button:hover {
  background-color: #202020 !important;
  color: #FFF212 !important;
}

.lp-gallery-archive__item {
  height: 350px;
  overflow: hidden;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  position: relative;
  margin-bottom: 2em;
}
.lp-gallery-archive__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lp-gallery-archive__item figure {
  margin: 0;
  height: 100%;
}
.lp-gallery-archive__item figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 2em;
}
.lp-gallery-archive__item figure figcaption:hover {
  opacity: 1;
}
.lp-gallery-archive__item__brand {
  max-width: 200px;
  height: auto !important;
  margin-bottom: 2em;
}
.lp-gallery-archive__item__name {
  font-family: "futuramedium";
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 1.3em;
}

.lp-proyects__info {
  background-color: #1e1e1e;
  padding: 4em 0 4em 3em !important;
  border-radius: 0 0 0 60px;
  position: relative;
}
.lp-proyects__info::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 100%;
  right: -490px;
  background-color: #1e1e1e;
  top: 0;
}
.lp-proyects__title {
  color: #ffffff;
  line-height: 1em;
  letter-spacing: 3px;
}
.lp-proyects__client {
  color: #FFF212;
  line-height: 1em;
  letter-spacing: 3px;
}
.lp-proyects__line {
  display: block;
  width: 90%;
  height: 2px;
  background-color: #FFF212;
  margin-top: 1em;
  margin-bottom: 1em;
}
.lp-proyects__date {
  color: #FFF212;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.lp-proyects__desc {
  color: #ffffff;
  margin-top: 1em;
}
.lp-proyects__related {
  padding-top: 5em;
  padding-bottom: 4em;
}
.lp-proyects__title-related {
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #202020;
  margin-bottom: 1em;
}
.lp-proyects__customer-logo {
  max-width: 150px;
}
.lp-proyects__carousel .slick-slider {
  margin: 0 -35px;
}
.lp-proyects__carousel .slick-slide {
  padding: 30px;
  position: relative;
}
.lp-proyects__carousel img {
  width: 100%;
  height: 316px;
  object-fit: cover;
  border-radius: 60px 0 60px 0;
}
.lp-proyects__carousel .item-proyects {
  overflow: hidden;
}
.lp-proyects__carousel .item-proyects h5 {
  color: white;
  font-size: 1.5em;
  font-family: "futuramedium";
  font-weight: normal;
  text-align: center;
}
.lp-proyects__carousel .item-proyects__cont {
  border-radius: 60px 0 60px 0;
  height: 360px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.16);
  position: relative !important;
}
.lp-proyects__carousel .item-proyects__cont:hover .item-proyects__caption {
  transform: translateX(0);
}
.lp-proyects__carousel .item-proyects__caption {
  position: absolute;
  width: 311px;
  height: 316px;
  background-color: #202020;
  top: 17px;
  left: 0;
  border-radius: 60px 0 60px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 2em;
  transform: translateX(-400px);
  transition: all 0.3s ease-in-out;
}
.lp-proyects__carousel .item-proyects__title {
  color: #ffffff;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}
.lp-proyects__carousel .item-proyects__img {
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  max-width: 200px;
  border-radius: 0px;
  height: auto;
}
.lp-proyects__carousel .slick-next {
  position: absolute;
  right: -50px;
  top: 45%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #202020;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: #202020;
}
.lp-proyects__carousel .slick-next:hover {
  background-color: #202020;
  color: #ffffff;
}
.lp-proyects__carousel .slick-prev {
  position: absolute;
  left: -50px;
  top: 45%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #202020;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: #202020;
}
.lp-proyects__carousel .slick-prev:hover {
  background-color: #202020;
  color: #ffffff;
}

/*GALERIA*/
.lp-gallery-grid {
  padding: 3em 2em 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 520px;
  grid-gap: 20px;
  grid-column-gap: 70px;
  width: 100%;
}
.lp-gallery-grid__item {
  grid-column: span 1;
  grid-row: span 1;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}
.lp-gallery-grid__item figure {
  margin: 0;
  position: relative;
  height: 100%;
}
.lp-gallery-grid__item figure figcaption {
  background: rgba(255, 242, 18, 0.78);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}
.lp-gallery-grid__item figure figcaption:hover {
  opacity: 1;
}
.lp-gallery-grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lp-gallery-grid__item:first-child {
  grid-column: span 2;
  grid-row: span 3;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.mt-collapse-item {
  display: none !important;
}
.mt-collapse-item.collapse-active {
  display: flex !important;
}
.mt-collapse-item__content {
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.mt-collapse-item__content__title {
  font-family: "futuramedium";
  text-transform: uppercase;
  font-size: 1.5em;
}
.mt-collapse-item__carousel .custom-slick-arrow {
  border: 1px solid black;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  top: calc(50% - 20px);
  z-index: 2;
  outline: 0px;
}
.mt-collapse-item__carousel .custom-slick-arrow:hover {
  color: white;
  background: black;
}
.mt-collapse-item__carousel .custom-slick-arrow.custom-slick-next {
  right: -20px;
}
.mt-collapse-item__carousel .custom-slick-arrow.custom-slick-prev {
  left: -20px;
}

.mt-menu-tab__link {
  color: #727376;
  text-transform: uppercase;
  padding: 1em 3em !important;
  font-size: 0.8em;
  letter-spacing: 3px;
}
.mt-menu-tab__link.active, .mt-menu-tab__link:hover {
  color: black;
}

/*# sourceMappingURL=custom-style.css.map */
