.lp-subheader-shop
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    .lp-search-form
        position: relative
        max-width: 450px
        margin: 2em auto
        button
            color: white
            position: absolute
            right: 0
            top: 0
            height: 50px
            border: none
            background: transparent
        .form-control
            background-color: transparent
            border-radius: 25px
            border: 2px solid white
            padding: .5em 1em
            &::placeholder
                color: white
    p
        color: white
